* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    /* background-image: linear-gradient(
        90deg, #020024 0%, #090979 35%, #00d4ff 100%   
    ); */
    background-color: #000000;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
   font-size: 35px;
   
}

nav {
    padding-right: 1%;
}
nav ul li {
   display: inline;
   padding: 5px;
   position: relative;
}

#name {
    padding: 1%;
    background-color: #00d4ff;
}
nav ul li a {
    color: #fff;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3% 3% 3% 0;
 }

h2 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: min-content;
    margin-left: 8% ;
    font-size: 30px;
    border-right: 1% solid #000000;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    position: relative;
    margin-left: 20%;
    margin-top: -4em;
    border-left: .3em solid #000000;
    padding-left: 1em;
}

#hero {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(
        90deg, #020024 0%, #090979 35%, #00d4ff 100%   
    );;
    background-size: cover;
}
#Contact-Me ul li {
   display: inline-flex;
   padding: 5px;
   position: relative;
   align-items: center;
   height: 4em;
   font-size: 20px;
   text-transform:uppercase;
}

#Contact-Me ul li a{
    color:#000000;
    font-weight: bold;
}


